.services {
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-1 {
    width: 320px;
    background-color: transparent;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}


.service-1:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.img {
    padding-top: 30px;
}

.img img {
    height: 170px;
    width: 100%;
}

.img-portfolio img {
    height: 250px;
    width: 250px;
}

.description {
    padding-bottom: 30px;
    text-align: center;
    margin-top: 30px;
}

.description p {
    font-size: 0.9em;
}

.description h2 {
    font-size: 2em;
    color: black;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
}

@media screen  and (min-width: 900px) {
    .services {
        justify-content: space-between;
    }
}