.site-logo {
    width: 40px;
    filter: invert(100%);
}

.nav-up {
    transition: top 0.5s;
    top: -100px
  }
  
  .nav-down {
    transition: top 0.5s;
  }
  
  header {
    --text: #f4f4f4;
    --text-inverse: #333;
    --background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
    transition: background 250ms ease-in;
    background: var(--background);
    color: var(--text);
  }
  
  .nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav__link {
    --spacing: 1em;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
  }
  
  .nav__link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--spacing);
    right: var(--spacing);
    height: 2px;
    background: currentColor;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  }
  
  .nav__link:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  
  .nav-scrolled {
    --text: #333;
    --text-inverse: #f4f4f4;
    --background: #f4f4f4;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  }
/* Navigation Bar end */

/* Hero Landing Page */
.home-intro {
    padding: 35vh 0;
    background: #123 url("../assets/images/background/bg1.jpg");
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.6);
    /* background-color:var(--main-color); */
    background-size: cover;
    color: white;  
    text-align: center;
    height: 100vh;
}