@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

:root {
    --cream-color: #f6f5f2;
    --black-color: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

/* Default Properties */
body {
    color: var(--black-color);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-weight: 400;
    font-size: 1.1em;
}

.hero-landing {
    height: 100vh;
    background: #222 url("../assets/background/bg.jpg");
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
    
    padding: 30vh 0;
    color: white;
    text-align: center;
}

.hero-landing p {
    font-size: 1rem;
}

.custom-section {
    padding: 50px 20px;
}

.cream-section {
    background-color: var(--cream-color);
}

.social-flex {
    display: flex;
    font-size: 5em;
    margin-top: 50px;
}

.social-flex i:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in;
}


.social-icon {
    cursor: pointer;
    margin-right: 70px;
}

.social-icon a {
    color: black;
}

.social-icon:last-child {
    margin-right: 0;
}

.social-flex {
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}



.icon {
    width: 100px;
}

.warn {
    color: #cd1616;
    font-size: 0.9em;
}

footer {
    padding: 50px;
    background-color: var(--black-color);
    color: #f2f2f2;
}


.brand {
    margin-top: 30px;
    width: 60px;
}

.footer-flex {
    text-align: left;
}

.footer-flex ul {
    list-style: none;
}

.footer-flex li {
    margin-bottom: 30px;
}

.footer-flex h2 {
    margin: 30px 0;
}

.footer-flex li a {
    text-decoration: none;
    color: #f2f2f2;
}

.copyright {
    text-align: left;
}

@media screen and (max-width: 359px) {
    p {
        font-size: 0.9em;
    }

    .social-flex {
        flex-direction: column;
        font-size: 3em;
    }
    .social-icon {
        margin-right: 0;
    }
}

@media screen and (min-width: 360px) {
    h1 {
        font-size: 3em;
    }

    p {
        font-size: 0.9em;
    }
    .social-flex {
        font-size: 3em;
    }
}

@media screen and (min-width: 479px) {
    h1 {
        font-size: 4.5em;
    }
    p {
        font-size: 0.9em;
    }

    .footer-flex {
        font-size: 14px;
        display: flex;
        justify-content: space-around; 
        padding-bottom: 30px;
    }

    .copyright {
        text-align: center;
    }
    
}

@media screen and (min-width: 767px) {
    h1 {
        font-size: 5em;
    }
    
    p {
        font-size: 1.0em;
    }
    .hero-landing {
        padding: 35vh 0;
    }
    .social-flex { 
        justify-content: space-around;
    }
}

@media screen and (min-width: 900px) {
    body {
        text-align: left;
    }

    .custom-section {
        padding: 50px 100px 50px 250px;
    }

    h1 {
        font-size: 5.5em;
    }

    .social-flex {
        justify-content: space-between;
        width: 70%;
    }

    .social-icon {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1280px) {
    .custom-section {
        padding: 50px 220px 50px 250px;
    }
    h1 {
        font-size: 7em;
    }
}

@media screen and (min-width: 1440px) {
    .custom-section {
        padding: 50px 220px 50px 350px;
    }
    h1 {
        font-size: 7em;
    }

    p {
        font-size: 1.1em;
    }

}