@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

:root {
    --cream-color: #f6f5f2;
    --black-color: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Default Properties */
body {
    color: var(--black-color);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-weight: 400;
    font-size: 1.1em;
}

/*Button*/
button {
    font-size: 1em;
    padding: 20px 30px;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0px;
    
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

button:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

button:focus {
    outline: none;
}

button a {
  text-decoration: none;
  color: white;
}

.lang {
    color: white;
}

.lang a {
    text-decoration: none;
    color: white;
}

.btn-black {
    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%)
}

.btn-white {
  background-image: linear-gradient(to left, rgba(217,217,217,1) 0%, rgba(221,221,221,1) 51%, rgba(255,255,255,1) 100%)
}

.hero-landing {
    height: 100vh;
    /** background-image: #222 url("../assets/background/bg.jpg"); */
    background-size: cover;
    /*background-blend-mode: overlay;*/
    background-position: center;

    /***/
    background-image: -webkit-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url("../assets/background/bg.jpg");
    background-image:  -moz-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url("../assets/background/bg.jpg");
    background-image:  -o-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url("../assets/background/bg.jpg");
    background-image:  -ms-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url("../assets/background/bg.jpg");
    background-image:  linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url("../assets/background/bg.jpg");
    /***/
    
    padding: 30vh 0;
    color: white;
    text-align: center;
}

.hero-landing p {
    font-size: 1rem;
}

.black-section {
    background-color: black;
    color: white;
}

.blue-section {
    /* background-color: #355f9e; */
    background: rgb(53,95,158);
    background: linear-gradient(151deg, rgba(53,95,158,1) 0%, rgba(38,73,124,1) 100%); 
    color: white;
}

.white-section {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%); 
}

.section-details-white {
    background-image: url(../assets/icons/bg-details.svg);
    background-repeat: no-repeat;
    background-size: cover; 
}


.custom-section {
    padding: 50px 20px;
}

.section-body {
    padding: 20px 20px;
    padding-bottom: 50px;
}


.gallery-see-more {
    text-align: center;
    align-items: center;
}

.cream-section {
    /** background-color: var(--cream-color); **/
    background: rgb(251,250,247);
    background: linear-gradient(142deg, rgba(251,250,247,1) 0%, rgba(246,245,242,1) 50%, rgba(235,233,228,1) 100%); 
}

/* Services */
.services {
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-1 {
    width: 320px;
    background-color: transparent;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}


.service-1:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.img {
    padding-top: 30px;
}

.img img {
    height: 170px;
    width: 100%;
}

.img-portfolio img {
    height: 250px;
    width: 250px;
}

.description {
    padding-bottom: 30px;
    text-align: center;
    margin-top: 30px;
}

.description p {
    font-size: 0.9em;
}

.description h2 {
    font-size: 2em;
    color: black;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
}

.social-flex {
    display: flex;
    font-size: 5em;
    margin-top: 50px;
}

.social-flex i:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in;
}


.social-icon {
    cursor: pointer;
    margin-right: 70px;
}

.social-icon a {
    color: black;
}

.social-icon:last-child {
    margin-right: 0;
}

.social-flex {
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}



.icon {
    width: 100px;
}

.warn {
    color: white;
    font-size: 0.9em;
}


/* Form */
textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

input {
    
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.name {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
}

.message {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 200px;
    align-items: initial;
    
}

.submit {
    margin-top: 20px;
    color: black;
}

footer {
    padding: 50px;
    background-color: var(--black-color);
    color: #f2f2f2;
}


.brand {
    margin-top: 30px;
    width: 60px;
}

.footer-flex {
    text-align: left;
}

.footer-flex ul {
    list-style: none;
}

.footer-flex li {
    margin-bottom: 30px;
}

.footer-flex h2 {
    margin: 30px 0;
}

.footer-flex li a {
    text-decoration: none;
    color: #f2f2f2;
}

.copyright {
    text-align: left;
}

@media screen and (max-width: 359px) {
    p {
        font-size: 0.9em;
    }

    .social-flex {
        flex-direction: column;
        font-size: 3em;
    }
    .social-icon {
        margin-right: 0;
    }
}

@media screen and (min-width: 360px) {
    h1 {
        font-size: 3em;
    }

    p {
        font-size: 0.9em;
    }
    .social-flex {
        font-size: 3em;
    }
}

@media screen and (min-width: 479px) {
    h1 {
        font-size: 4.5em;
    }
    p {
        font-size: 0.9em;
    }

    .footer-flex {
        font-size: 14px;
        display: flex;
        justify-content: space-around; 
        padding-bottom: 30px;
    }

    .copyright {
        text-align: center;
    }
    
}

@media screen and (min-width: 767px) {
    h1 {
        font-size: 5em;
    }
    
    p {
        font-size: 1.0em;
    }
    .hero-landing {
        padding: 35vh 0;
    }
    .social-flex { 
        justify-content: space-around;
    }
}

@media screen and (min-width: 900px) {
    body {
        text-align: left;
    }

    .custom-section {
        padding: 50px 100px 50px 250px;
    }

    h1 {
        font-size: 5.5em;
    }

    .services {
        justify-content: space-between;
    }

    .social-flex {
        justify-content: space-between;
        width: 70%;
    }

    .social-icon {
        font-size: 1.5em;
    }

    .gallery {
        justify-content: start;
        
    }

    .gallery-see-more {
        text-align: left;
    }

    .portfolio-work:first-child {
        margin-left: 0px;
    }
}

@media screen and (min-width: 1280px) {
    .custom-section {
        padding: 50px 220px 50px 250px;
    }
    h1 {
        font-size: 7em;
    }
}

@media screen and (min-width: 1440px) {
    .custom-section {
        padding: 50px 220px 50px 350px;
    }
    h1 {
        font-size: 7em;
    }

    p {
        font-size: 1.1em;
    }

}

/** Scroll Animations **/
[data-scroll] {
    transition: all 2s;
  }
  
  [data-scroll="in"] {
    opacity: 1;
    transform: translateY(0);
  }
  
  [data-scroll="out"] {
    opacity: 0;
    transform: translateY(-80px);
  }
  
  [data-scroll1] {
    transition: all 2s;
  }
  
  [data-scroll1="in"] {
    opacity: 1;
    transform: translateZ(0);
  }
  
  [data-scroll1="out"] {
    opacity: 0;
    transform: translateZ(-80px);
  }




/* NAVBAR*/
:root {
    --nav-text: white;
    --nav-bg: transparent;
    --nav-bg-scrolled: black;
    --nav-col-width: 100%;
    --nav-height: 12vh;
    --nav-collapsed-height: 90vh; /*Subtract this 100 from --nav-height in order to show logo*/
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: var(--nav-height);
    background-color: var(--nav-bg);
    position: fixed;
    width: 100%;
    top: 0;
    transition: all 0.6s ease-in;
    z-index: 999;
}

.nav-normal {
    background-color: var(--nav-bg);
    
}

.nav-scrolled {
    background-color: var(--nav-bg-scrolled);
    min-height: 10vh;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    
}

.nav-up {
    transition: top 0.5s;
    top: -100px
}

.nav-down {
    transition: top 0.5s;
}

.logo {
    width: 40px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    width: 55%;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: var(--nav-text);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links a:hover {
    color: #355f9e;
    transition: all 0.5s ease;
}

.menu-toggle {
    display: none;
}

@media screen and (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }

    .lang {
        order: 0;
    }

    .logo {
        order: 1;
    }

    .menu-toggle {
        order: 2;
    }

    .nav-black {
        background-color: black;
        transition: all 0.5s ease-in;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: var(--nav-collapsed-height);
        top: 10vh;
        background-color: black;
        flex-direction: column;
        align-items: flex-start;
        width: var(--nav-col-width);
        transform: translateX(100%);
    }

    .nav-links li {
        opacity: 0;
        margin-left: 60px;
    }

    /*Hamburguer Menu*/
    .menu-toggle {
        display: block;
        cursor: pointer;
        float: right;
    }
      
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        content: '';
        display: block;
        background: white;
        height: 3px;
        width: 1.75em;
        border-radius: 3px;
        transition: all ease-in-out 500ms;
    }
    
    .hamburger::before {
        transform: translateY(-6px);
    }
    
    .hamburger::after {
        transform: translateY(3px);
    }
    
    .open .hamburger {
        transform: rotate(45deg);
    }
    
    .open .hamburger::before {
        opacity: 0;
    }
    
    .open .hamburger::after {
        transform: translateY(-3px) rotate(-90deg);
    }
    /*End Hamburguer Menu*/

}

.nav-active {
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
}

/*Animation*/
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    } to {
        opacity: 1;
        transform: translateX(0px);
    }
}